<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="../assets/css/create.css">
    <link rel="shortcut icon" href="../assets/icons/questionario(6).svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizzyCrazy : Criar Um Quiz</title>
</head>
<body>
  <header >
      <img src="../assets/images/unnamed.jpg" alt="imagem do topo do QuizzyCrazy" title="imagem do topo do QuizzyCrazy">
     
      <nav class="cabecalho">
         <a href="home.html">Home</a>
         <a href="allquizes.html">Ver Todos</a>

      </nav>
  </header>

  <main>
    <h1>QuizzyCrazy : Criação de Quiz</h1>
    <h2>Página de Criaçao de Quizes Do QuizzyCrazy</h2>
    <h3>Crie Um Quiz No QuizzyCrazy</h3>
    <p>Olá,Seja Bem Vindo(a) a Página de Criação do QuizzyCrazy,Obrigado Por ajudar a 
      Construir o conteúdo deste Site, Sua Ajuda é Muito Importante Para Que Este Site Continue Crescendo 
    Confira Embaixo o Formulário para Criar um Quiz  : 
    </p>

    <div class="error"> <p> {Message}</p></div>
    <form class="form" action="" method="post">
      <img src="../assets/images/wordpress-quiz-plugins-1024x512.png" alt="Imagem Do Formulario de Criação do QuizzyCrazy" title="Imagem Do Formulario de Criação do QuizzyCrazy">
     
        <label for="na">Autor Do Quiz :</label>
        <input type="text" name="nomeAut" id="na" placeholder="Autor Do Quiz">
     
   
        <label for="nq">Nome Do Quiz :</label>
        <input type="text" name="nomeQuiz" id="nq" placeholder="Nome Do Quiz">
     
   
        <label for="Desc">Descrição :</label>
        <textarea name="Description" id="Desc" placeholder="Descriçao Do Quiz" >
          
        </textarea>
   
        <label for="pergunta1"> 1° Pergunta :</label>
        <input type="text" name="pergunta1" id="pergunta1">
        <label for="resposta1"> 1° Resposta :</label>
        <input type="text" name="resposta1" id="resposta1">
        
        <label for="resposta2"> 2° Resposta :</label>
        <input type="text" name="resposta2" id="resposta2">
        
        <label for="resposta3"> 3° Resposta :</label>
        <input type="text" name="resposta3" id="resposta3">
        
        <label for="resposta4"> 4° Resposta :</label>
        <input type="text" name="resposta4" id="resposta4">
      
        <label for="resposta5"> 5° Resposta :</label>
        <input type="text" name="resposta5" id="resposta5">
        
        
        <label for="pergunta2"> 2° Pergunta :</label>
        <input type="text" name="pergunta2" id="pergunta2">
        <label for="resposta6"> 1° Resposta :</label>
        <input type="text" name="resposta6" id="resposta6">
       
        <label for="resposta7"> 2° Resposta :</label>
        <input type="text" name="resposta7" id="resposta7">

        <label for="resposta8"> 3° Resposta :</label>
        <input type="text" name="resposta8" id="resposta8">
       
        <label for="resposta9"> 4° Resposta :</label>
        <input type="text" name="resposta9" id="resposta9">
        
        <label for="resposta10"> 5° Resposta :</label>
        <input type="text" name="resposta10" id="resposta10">

        
        <label for="pergunta3"> 3° Pergunta :</label>
        <input type="text" name="pergunta3" id="pergunta3">
        <label for="resposta11"> 1° Resposta :</label>
        <input type="text" name="resposta11" id="resposta11">
        
        <label for="resposta12"> 2° Resposta :</label>
        <input type="text" name="resposta12" id="resposta12">
       
        <label for="resposta13"> 3° Resposta :</label>
        <input type="text" name="resposta13" id="resposta13">
       
        <label for="resposta14"> 4° Resposta :</label>
        <input type="text" name="resposta14" id="resposta14">
       
        <label for="resposta15"> 5° Resposta :</label>
        <input type="text" name="resposta15" id="resposta15">
       
        
        <label for="pergunta4"> 4° Pergunta :</label>
        <input type="text" name="pergunta4" id="pergunta4">
        <label for="resposta16"> 1° Resposta :</label>
        <input type="text" name="resposta16" id="resposta16">
        
        <label for="resposta17"> 2° Resposta :</label>
        <input type="text" name="resposta17" id="resposta17">
        
        <label for="resposta18"> 3° Resposta :</label>
        <input type="text" name="resposta18" id="resposta18">
       
        <label for="resposta19"> 4° Resposta :</label>
        <input type="text" name="resposta19" id="resposta19">
       
        <label for="resposta20"> 5° Resposta :</label>
        <input type="text" name="resposta20" id="resposta20">
        
        
        <label for="pergunta5"> 5° Pergunta :</label>
        <input type="text" name="pergunta5" id="pergunta5">
        <label for="resposta21"> 1° Resposta :</label>
        <input type="text" name="resposta21" id="resposta21">
       
        <label for="resposta22"> 2° Resposta :</label>
        <input type="text" name="resposta22" id="resposta22">
        
        <label for="resposta23"> 3° Resposta :</label>
        <input type="text" name="resposta23" id="resposta23">
        
        <label for="resposta24"> 4° Resposta :</label>
        <input type="text" name="resposta24" id="resposta24">
       
        <label for="resposta25"> 5° Resposta :</label>
        <input type="text" name="resposta25" id="resposta25">
        <p>Imagem Do Quiz:</p>
        <label for="arquivo"><img class="imgicon" src="../assets/images/upload-big-arrow.png" alt="Botão de Upload" title="Botão de Upload"></label>
        <input type="file" name="Arquivo" id="arquivo">
    <button type="submit">Criar</button>
      

    </form>
  </main>

  <footer>
    <h4>&copy;2020-Direitos Reservados Ao QuizzyCrazy </h4>
  </footer>
  <script src="../assets/js/jquery-3.5.1.min.js"></script>
  <script src="../assets/js/create.js"></script>
</body>
</html>