<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="shortcut icon" href="../assets/icons/questionario.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizzyCrazy : Plataforma de Quizes</title>
</head>

<body>


    <header>

        <nav>
            <div class="menu">
                <img src="../assets/images/titulo_quiz.png" alt="Imagem do Topo do QuizzyCrazy" title="Imagem do Topo do QuizzyCrazy">

                <form action="" method="get" autocomplete="off">

                    <input type="search" name="busca" list="quiz" placeholder="Busque um Quiz ">
                    <datalist id="quiz"> 
                        <option value="Quiz">Quiz</option>
                    </datalist>
                    <button type="submit">Buscar</button>


                </form>


                <a href="create.html">Criar Quiz</a>

            </div>
        </nav>
    </header>
    <main>
        <h1>QuizzyCrazy, A Plataforma de Quizes Super Divertida e Interessante.</h1>
        <h2>Venha Jogar os Quizes do QuizzyCrazy e se divirta.</h2>
        <h3>Descubra Varios Quizes Interessantes aqui no QuizzyCrazy.</h3>
        <p> 
            Olá Seja Bem Vindo ao QuizzyCrazy,Nessa Plataforma Você Pode Jogar Ou Mesmo Criar Um Quiz,Seja de sua Preferência,Voçê Apenas Escolhe o Nome Do Quiz,Escreve uma pequena Descrição do Quiz,Nome do Autor Do Quiz(Pode Ser Seu Nome ou Outro) e as Perguntas, Jogue Tambem Já que Somos Uma Plataforma
            Voçê é Bem Vindo A Fazer O Que Mais Interessar Para Voçê ,e Se Não Tiver Nenhum Quiz Ainda Por Favor Considere Criar Um,Muito Obrigado Por Visitar Este Site,Tchau.
        </p>
         
        <img src="../assets/images/shutterstock_1214717467-900x506-1.jpg" alt="Imagem principal do QuizzyCrazy" title="Imagem principal do QuizzyCrazy">

        <h4>Confira Aqui Embaixo Os Quizes Novos e Criados Recentemente No QuizzyCrazy: </h4>
        <div class="conteudo">
            <strong>Nome do Author</strong>
             <h5>Nome Do Quiz</h5>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim molestias libero perferendis, delectus maxime sunt accusamus obcaecati earum quas quis ipsam voluptate, id reprehenderit aliquam. Quisquam harum iusto esse quidem.</p>
             <a href="">Jogar</a>
             
        </div>
        
        <a href="">Ver Todos</a>
    </main>
  <footer>
  <h6>&copy;2020-Direitos Resevardos Ao QuizzyCrazy.</h6>
 

  </footer>
<script src="../assets/js/jquery-3.5.1.min.js">
</script>
<script src="../assets/js/home.js">
</script>
</body>

</html>