<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="shortcut icon" href="../assets/icons/sucesso.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/sucess.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizzyCrazy:Sucesso Na Criaçao Do Quiz</title>
</head>
<body>
    <header>
        <nav>
            <a href="allquizes.html">Ver Todos</a>
        </nav>
    </header>
 <main>
    <h1>QuizzyCrazy:Sucesso Na Criação Do Quiz</h1>
    <p>Obrigado {Nome} Por Criar Um Quiz,Fico Muito Agradecido Por Ajudar Este Site A Ter Mais Conteúdo
    Para Que Voçê e Os Outros Usuários Possam Aproveitar e Se Divertir.Muito Obrigado.   
    </p>
    <img src="../assets/images/obrigado-transformando-sonhos-em-resultados.png" alt="">
 </main>

 <footer>
     <h2>&copy;2020-Direitos Reservados Ao QuizzyCrazy</h2>
 </footer>
</body>
</html>